
.login-status-header {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.login-status-user-info {
    line-height: 43px;
    border: 1px;
    padding: 0 17px;
    border-radius: 3px;
    transition: all .5s ease;
    margin-right: 10px;
}

.security-btn {
    position: relative;
    right: 0;
    min-width: 95px;
    color: #fff;
    border: 10px solid #205b8d;
    border-radius: 43px;
    background: #205b8d;
    margin-right: 10px;
}
